<link rel="stylesheet" href="/css/home.css">



<!-- <h1> <%= title %></h1> -->
<div id="home_container">
  
    <div class="feed-posts">
        <div id="home_button">
          


        </div>

        <section id="feed-posts">
            <% if(locals.user){ %>

            <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content" cols="50" rows="4" placeholder="Hey..!! What's up ?" required></textarea>
                <input type="submit" value="Post" id="button">
            </form>

            <% } %>



            <div id="posts-list-container">

                <% for(post of posts){ %>

                <%- include('_post') -%>


                <%} %>

            </div>
        </section>
    </div>

    <div id="user-friends">
        <h4>User Friends</h4>
        <% for(u of all_users){ %>
        <div id="p1">
            <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
        </div>
        <% } %>
    </div>
<%- include('_chat_box') -%>
</div>


<script src="/js/home_posts.js"></script>